<!DOCTYPE html>
<body> 
<div class="container">
  <div class="row">
    <div class="circle project-item col-md-4 col-sm-6">
        <div class="project-item-1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s;">
            <a href="https://github.com/estella98/GoBang" target="_blank">
            </a><div class="circle"><a href="https://github.com/estella98/GoBang" target="_blank">
                <div class="circle_title">
                    <h2>GoBang AI</h2>
                    <h3> C++ </h3>
                </div>
                </a>
                <a href="https://github.com/estella98/GoBang" target="_blank">
                  <div class="circle_inner ione">
                  </div></a>
                <div class="content_shadow"></div>
                    <div class="techdisplay">GoBang game implemented in C++ featuring with reinforcement learning mechanism to capture feedbacks from different circumstances on the board</div>
            </div>
        </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
        <div class="project-item-1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s;">
            <a href="https://github.com/estella98/Audio_Processing" target="_blank">
            </a><div class="circle"><a href="https://github.com/estella98/Audio_Processing" target="_blank">
                <div class="circle_title">
                    <h2>Pitch Perfect</h2>
                    <h3> Java </h3>
                </div>
                </a>
                <a href="https://github.com/estella98/Audio_Processing" target="_blank">
                  <div class="circle_inner itwo">
                  </div></a>
                <div class="content_shadow"></div>
                    <div class="techdisplay"> A Java-based application which applies AMDF pitch detection to enhance the musicality of the tone deaf by training their ablities to sing different notes.</div>
            </div>
        </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
        <div class="project-item-1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s;">
            <a href="https://github.com/estella98/saleAlert" target="_blank">
            </a><div class="circle"><a href="https://github.com/estella98/saleAlert" target="_blank">
                <div class="circle_title">
                    <h2>Sale Alert</h2>
                    <h3> Python</h3>
                </div>
                </a>
                <a href="https://github.com/estella98/saleAlert" target="_blank">
                  <div class="circle_inner ithree">
                  </div></a>
                <div class="content_shadow"></div>
                    <div class="techdisplay">A sale alert that periodically tracks real-time price online and sends reminder via Email whenever there is a price drop.</div>
            </div>
        </div>
    </div>   
    <div class="circle col-md-4 col-sm-6 project-item">
        <div class="project-item-1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s;">
            <a href="https://github.com/estella98/saleAlert" target="_blank">
            </a><div class="circle"><a href="https://github.com/estella98/saleAlert" target="_blank">
                <div class="circle_title">
                    <h2>Qbert</h2>
                    <h3>Python</h3>
                </div>
                </a>
                <a href="https://github.com/estella98/saleAlert" target="_blank">
                  <div class="circle_inner ifive">
                  </div></a>
                <div class="content_shadow"></div>
                    <div class="techdisplay">Qbert game written in python that featured with probabilistic generation of enemies, various difficulty levels and serialization of game state.</div>
            </div>
        </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
        <div class="project-item-1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s;">
            <a href="https://github.com/estella98/SteamRecommenderSystem" target="_blank">
            </a><div class="circle"><a href="https://github.com/estella98/SteamRecommenderSystem" target="_blank">
                <div class="circle_title">
                    <h2>Steam Game Recommender</h2>
                    <h3>Python</h3>
                </div>
                </a>
                <a href="https://github.com/estella98/SteamRecommenderSystem" target="_blank">
                  <div class="circle_inner isix">
                  </div></a>
                <div class="content_shadow"></div>
                    <div class="techdisplay">A recommender system built upon the user behaviors & game statistics collected by Steam. </div>
            </div>
        </div>
    </div>
    <div class="circle col-md-4 col-sm-6 project-item">
        <div class="project-item-1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s;">
            <a href="https://github.com/estella98/Tetris" target="_blank">
            </a><div class="circle"><a href="https://github.com/estella98/Tetris" target="_blank">
                <div class="circle_title">
                    <h2>Biquadris</h2>
                    <h3>C++</h3>
                </div>
                </a>
                <a href="https://github.com/estella98/Tetris" target="_blank">
                  <div class="circle_inner iseven">
                  </div></a>
                <div class="content_shadow"></div>
                    <div class="techdisplay">A two-player Tetris game with multiple levels and bonus mode</div>
            </div>
        </div>
    </div>
  </div>
</div>
</body>

