
<body>
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-6">
                <div class="txt-center">
                        <div class="my-profile-img wow fadeInLeft" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s;"></div>
                </div>
                
            </div>
            <div class="col-6">
                    <div class="mine wow fadeInRight" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s;">
    

                            <p class="techdisplay">  I am a Computer Science student at the University of Waterloo. As a software developer, I embrace innovation and enjoy playing with cutting-edge technology. My enthusiasm lies in the areas of mobile development and machine learning.  For me, CS is a gateway for me to realize original ideas, and technology is the key to the door.  I believe CS can bring revolutionary changes in any area, and being able to apply my knowledge to my interests is the most wonderful thing I could think of. </p>

                            
                        </div>
            </div>
        </div>
    </div>
</body>
