
<body>
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-6">
                <div class="txt-center">
                        <div class="my-profile-img wow fadeInLeft" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s;"></div>
                </div>
                
            </div>
            <div class="col-6">
                    <div class="mine wow fadeInRight" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s;">
    

                            <p class="techdisplay">  I am a Computer Science student at the University of Waterloo. As a software developer, I embrace innovation and enjoy playing with cutting-edge technology. My enthusiasm lies in the areas of data engineering and machine learning.  For me, CS is a gateway to make my crazy ideas come true. And I wish to continuously get inspired as exploring more areas under it. </p>

                            
                        </div>
            </div>
        </div>
    </div>
</body>
